*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

section{

    display: flex;

    width: 100%;
    height: 100vh;
}

/* Verde */
.container-verde{

    background-color: #2BCF6E;
    width: 20%;
}

nav{
    display: flex;
    flex-direction: column;
    margin: 10% 0 0 10%;

}

nav a i{
    font-size: 3rem;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 3rem;
    font-weight: bold;
    margin: 4px 0;
}

/* Blanco */

.container-blanco{
    display: flex;
}

.img-container{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}

.img-container img{
    width: 600px;
    height: 500px;
}
.info-container{

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;

}

.info-container h1{
    font-size: 10rem;
}

.info-container span{
    font-size: 3.5rem;
}

.info-container p{
    font-size: 1.5rem;
    margin-right: 100px;
    
}

.info-container a{

    background-color: white;
    width: 220px;
    height: 60px;

    text-decoration: none;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
    border: 4px solid #2BCF6E;

    font-size: 2rem;
    
    margin: 40px 0 0 0;

}